*{
    margin: 0;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
#a{
    text-align: center;

}
#b{
    text-align: right;
}
.c{
color: green;
}
.d{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.e{
    font-size: 48px;
    font-weight: normal;
}
.f{
    font-size:  12px;
    color:white;
}
.g , .h {
    display: inline-block;
}
.i{
    justify-content: center;
}